.logo-container
  %svg.logo-icon.active#Layer_1{"data-name" => "Layer 1", :viewbox => "0 0 105 60", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    %defs
      :css
        .cls-1{fill:url(#linear-gradient);}.cls-2{fill:url(#linear-gradient-2);}
      %lineargradient#linear-gradient{:gradientunits => "userSpaceOnUse", :x1 => "8.32", :x2 => "49.98", :y1 => "56.58", :y2 => "-15.59"}
        %stop{:offset => "0", "stop-color" => "#5f86ff"}
        %stop{:offset => "0.36", "stop-color" => "#20e1ff"}
        %stop{:offset => "0.69", "stop-color" => "#bfcc79"}
        %stop{:offset => "0.83", "stop-color" => "#ffc442"}
      %lineargradient#linear-gradient-2{:x1 => "71.44", :x2 => "110.75", "xlink:href" => "#linear-gradient", :y1 => "62.14", :y2 => "-5.93"}
    %path.cls-1{:d => "M30,45C15,45,15,30,15,30H0a30,30,0,0,0,60,0V0H0V15H45V30S45,45,30,45Z"}
    %polygon.cls-2{:points => "75 0 105 0 105 60 75 60 75 45 90 45 90 15 75 15 75 0"}

  %svg.logo-icon.contrast.active#Layer_1{"data-name" => "Layer 1", :viewbox => "0 0 105 60", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    %defs
      :css
        .cls-1{fill:url(#linear-gradient);}.cls-2{fill:url(#linear-gradient-2);}
      %lineargradient#linear-gradient{:gradientunits => "userSpaceOnUse", :x1 => "8.32", :x2 => "49.98", :y1 => "56.58", :y2 => "-15.59"}
        %stop{:offset => "0", "stop-color" => "#5f86ff"}
        %stop{:offset => "0.36", "stop-color" => "#20e1ff"}
        %stop{:offset => "0.69", "stop-color" => "#bfcc79"}
        %stop{:offset => "0.83", "stop-color" => "#ffc442"}
      %lineargradient#linear-gradient-2{:x1 => "71.44", :x2 => "110.75", "xlink:href" => "#linear-gradient", :y1 => "62.14", :y2 => "-5.93"}
    %path.cls-1{:d => "M30,45C15,45,15,30,15,30H0a30,30,0,0,0,60,0V0H0V15H45V30S45,45,30,45Z"}
    %polygon.cls-2{:points => "75 0 105 0 105 60 75 60 75 45 90 45 90 15 75 15 75 0"}
