body, div{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  font-family: 'Lato', sans-serif;
  margin: 0;
}

label, p, div{
  font-family: 'Arvo', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a{
  cursor: pointer;
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

hr{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
