.navigation
  .navigation-arrow.prev.swipe-prev
    .navigation-arrow-icon
      .arrow-icon-head-before
      .arrow-icon-head-after
  .navigation-arrow.next.swipe-next
    .navigation-arrow-icon
      .arrow-icon-head-before
      .arrow-icon-head-after
      .navigation-arrow-gradient
