.navigation
  .navigation-arrow.prev
    .navigation-arrow-icon
      .arrow-icon-head-before
      .arrow-icon-head-after
  .navigation-arrow.next
    .navigation-arrow-icon
      .arrow-icon-head-before
      .arrow-icon-head-after
      .navigation-arrow-gradient
