.project-navigation
  .project-navigation-arrow.prev
    .project-navigation-arrow-icon
      .arrow-icon-head-before
      .arrow-icon-head-after
  .project-navigation-arrow.next
    .project-navigation-arrow-icon
      .arrow-icon-head-before
      .arrow-icon-head-after
      .project-navigation-arrow-gradient
