.project-display-view{class: "#{screen == 'mobile' ? 'mobile' : '' || screen == 'desktop' ? 'desktop' : '' }"}
  %a{class: 'project-display-view-link'}
    View Project
    .project-display-view-arrow
      .arrow-icon-head-before
      .arrow-icon-head-after
