.project-display-view{class: "#{screen == 'mobile' ? 'mobile' : '' || screen == 'desktop' ? 'desktop' : '' }"}
  = link_to formnflow_url, class: 'project-display-view-link' do
    View Project
    .project-display-view-arrow
      .arrow-icon-head-before
      .arrow-icon-head-after
    .border-left-bottom
    .border-right-top
