.project-display-link{class: "#{screen == 'mobile' ? 'mobile' : '' || screen == 'desktop' ? 'desktop' : '' }"}
  = link_to formnflow_path, class: 'project-display-link-item' do
    View Project
    .project-display-link-arrow
      .arrow-icon-head-before
      .arrow-icon-head-after
    .border-left-bottom
    .border-right-top
