.project-showcase
  .project-showcase-description
    %p An intuitive and neat looking Form Builder designed to cover a wide range of use cases.
    %p My role in this project was to improve the UI, UX and Front-end of the platform.
    %p Formnflow is a Hashbang product that I helped build with both my Design & Front-end skills.

-# RESOURCES:
-#
-# Ruby on Rails, HTML5, CSS3, Javascript & jQuery, Adobe Illustrator, Adobe Photoshop and Sketch
-#
-# THE CHALLENGE:
-#
-# When first entering the project, Formnflow was on a perfectly functional state, however, visually and UX/UI-wise, it needed much work done.
-# A lot of the work went into clarifying the main workflow for the User so that there was no confusion about which step should come first and where the User is currently at.
-#
-# THE BEGINNING:
-#
-# At the very start, I sketched out a basic form of the new layout I had in mind. Some ideas pivoted into other ideas in the process and other ideas worked out really well.
-#
-# HIGHLIGHT:
-#
-# I have to say that I am very proud of the hand-made SVG icon library that I made for Formnflow. It helps to understand many of the user actions at a glance such as the different Form Fields available.
-#
-# FINAL RESULT:
-#
-# IMAGE
-# IMAGE
-# IMAGE
-#
-# FEEDBACK:
-#
-# Overall the new Design and Front-end of Formnflow was a success and even though there were a lot of visual changes (users can be very reluctant to change), the clients were really happy with the result and testing carried out very smoothly.
