.project-display-container.formnflow
  .project-display
    .project-display-headings
      %h2.project-display-title FORMNFLOW
      %label.project-display-label UI/UX Design & Front-End Dev
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero-1', class: 'project-display-hero-image'
      = image_tag 'formnflow/formnflow-hero-2', class: 'project-display-hero-image'

.project-display-container.formnflow
  .project-display
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero', class: 'project-display-hero-image'
    %h2.project-display-title
      FORMNFLOW
