.project-display-container.formnflow
  .project-display
    %h2.project-display-title
      FORMNFLOW  
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero-1', class: 'project-display-hero-image'

.project-display-container.formnflow
  .project-display
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero', class: 'project-display-hero-image'
    %h2.project-display-title
      FORMNFLOW
