$icon-hover-area: 40px;
$icon-weight: 2px;
$icon-size: 35px;
$icon-size-hover: 70px;
$icon-size-idle: 30px;
$icon-arrow-size: 12px;
$icon-arrow-rotation: 55deg;
$icon-spacing: 16px;

.navigation{
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width : 768px) {
    width: 60px;
  }

  &.idle{
    .navigation-arrow{
      opacity: 0.1;
      height: $icon-size-idle;
      transition: all 0.5s ease-out;

      &.prev,
      &.next{
        margin: 0;
      }
    }
  }

  &.last,
  &.first{
    .navigation-arrow.prev,
    .navigation-arrow.next{
      margin: 0;
    }
  }

  &.last{
    .navigation-arrow.next{
      opacity: 0;
      height: 0;
    }
  }

  &.first{
    width: 100%;
    height: 100px;
    top: auto;
    bottom: 10px;

    @media only screen and (max-width : 768px) {
      height: 40px;
      bottom: 20px;
    }

    .navigation-arrow{
      &.prev{
        opacity: 0;
        height: 0;
      }

      &:hover{
        .navigation-arrow-icon{
          .navigation-arrow-gradient{
            opacity: 1;
            height: 100%;
          }

          .arrow-icon-head-before,
          .arrow-icon-head-after{
            &::after{
              opacity: 1;
              width: 100%;
            }
          }
        }
      }
    }

    &.idle{
      .navigation-arrow{
        &.next{
          @keyframes bounce {
            0% {
              top: 0;
            }

            100% {
              top: 20px;
            }
          }

          animation-name: bounce;
          animation-duration: 0.6s;
          animation-iteration-count: infinite;
          animation-delay: 0.6s;
          animation-direction: alternate;
          animation-timing-function: ease-in-out;
          height: $icon-size;
          opacity: 1;

          .navigation-arrow-icon{
            .navigation-arrow-gradient{
              opacity: 1;
              height: 100%;
            }

            .arrow-icon-head-before,
            .arrow-icon-head-after{
              &::after{
                opacity: 1;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .navigation-arrow{
    position: relative;
    width: $icon-hover-area;
    height: $icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s $easeOutQuart;

    &:hover,
    &.active{
      height: $icon-size-hover;
      opacity: 1;
    }

    &.active{
      transition: all 0.1s ease-out;
    }

    &.inactive{
      height: 25px;
      opacity: 0.15;

      .navigation-arrow-icon{
        .arrow-icon-head-before,
        .arrow-icon-head-after{
          width: 0;
        }
      }
    }

    .navigation-arrow-icon{
      position: relative;
      width: $icon-weight;
      height: 100%;
      background: $white;
      cursor: pointer;

      .arrow-icon-head-before,
      .arrow-icon-head-after{
        position: absolute;
        margin: 0;
        width: $icon-arrow-size;
        height: $icon-weight;
        background: $white;
        transition: all 0.3s $easeOutQuart;

        &::after{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          height: 100%;
          $gradient-start: $blue;
          $gradient-middle: $blue;
          $gradient-end: $aqua;
          background: $gradient-end;
          background: -moz-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: -webkit-gradient(left top, right bottom, color-stop(0%, $gradient-start), color-stop(14%, $gradient-start), color-stop(55%, $gradient-middle), color-stop(100%, $gradient-end));
          background: -webkit-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: -o-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: -ms-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: linear-gradient(29deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 85%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-start', endColorstr='$gradient-end', GradientType=1);
          width: 0;
          transition: all 0.6s $easeOutQuart;
          transition-delay: 0.1s;
        }
      }

      .arrow-icon-head-before{
        left: 1px;

        &::after{
          right: 0;
        }
      }

      .arrow-icon-head-after{
        right: 1px;

        &::after{
          left: 0;
          $gradient-start: $blue;
          $gradient-middle: $blue;
          $gradient-end: $aqua;
          background: $gradient-end;
          background: -moz-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: -webkit-gradient(left top, right bottom, color-stop(0%, $gradient-start), color-stop(14%, $gradient-start), color-stop(55%, $gradient-middle), color-stop(100%, $gradient-end));
          background: -webkit-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: -o-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: -ms-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
          background: linear-gradient(209deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 85%);
        }
      }

      .navigation-arrow-gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0 0 2px 2px;
        $gradient-start: $blue;
        $gradient-middle: $aqua;
        $gradient-end: $orange;
        background: $gradient-end;
        background: -moz-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, $gradient-start), color-stop(14%, $gradient-start), color-stop(55%, $gradient-middle), color-stop(100%, $gradient-end));
        background: -webkit-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
        background: -o-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
        background: -ms-linear-gradient(-45deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 100%);
        background: linear-gradient(50deg, $gradient-start 0%, $gradient-start 14%, $gradient-middle 55%, $gradient-end 85%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-start', endColorstr='$gradient-end', GradientType=1);
        height: 0;
        transition: all 0.3s $easeOutQuart;
      }
    }

    &.prev{
      margin-bottom: calc(#{$icon-spacing} / 2);

      .navigation-arrow-icon{
        border-radius: 2px 2px 0 0;

        .arrow-icon-head-before,
        .arrow-icon-head-after{
          top: 0;
          transform-origin: 0 50%;
        }

        .arrow-icon-head-before{
          transform-origin: 0 50%;
          transform: rotate($icon-arrow-rotation);
          -ms-transform: rotate($icon-arrow-rotation);
          -webkit-transform: rotate($icon-arrow-rotation);
        }

        .arrow-icon-head-after{
          transform-origin: 100% 50%;
          transform: rotate(calc(-#{$icon-arrow-rotation}));
          -ms-transform: rotate(calc(#{$icon-arrow-rotation}));
          -webkit-transform: rotate(calc(-#{$icon-arrow-rotation}));
        }
      }
    }

    &.next{
      margin-top: calc(#{$icon-spacing} / 2);

      .navigation-arrow-icon{
        border-radius: 0 0 2px 2px;

        .arrow-icon-head-before,
        .arrow-icon-head-after{
          bottom: 0;
        }

        .arrow-icon-head-before{
          transform-origin: 0 50%;
          transform: rotate(-$icon-arrow-rotation);
          -ms-transform: rotate(-$icon-arrow-rotation);
          -webkit-transform: rotate(-$icon-arrow-rotation);
        }

        .arrow-icon-head-after{
          transform-origin: 100% 50%;
          transform: rotate($icon-arrow-rotation);
          -ms-transform: rotate($icon-arrow-rotation);
          -webkit-transform: rotate($icon-arrow-rotation);
        }
      }
    }
  }
}
