!!! XML
%svg.popup-icon#Layer_1{:space => "preserve", :style => "enable-background:new 0 0 29.5 31.5;", :version => "1.1", :viewbox => "0 0 29.5 31.5", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %path{:d => "M28.6,24.7H0.9c-0.5,0-0.9-0.4-0.9-0.9V0.9C0,0.4,0.4,0,0.9,0h27.7c0.5,0,0.9,0.4,0.9,0.9v22.8\r\n\tC29.6,24.2,29.1,24.7,28.6,24.7z M3.4,21.7h22.7c0.3,0,0.5-0.2,0.5-0.5V3.4c0-0.3-0.2-0.5-0.5-0.5H3.4c-0.3,0-0.5,0.2-0.5,0.5v17.8\r\n\tC3,21.5,3.2,21.7,3.4,21.7z"}
  %path{:d => "M19.6,27.3L15,31.4c-0.1,0.1-0.3,0.1-0.5,0l-4.6-4.1c-0.2-0.2-0.1-0.6,0.2-0.6h9.2C19.7,26.7,19.8,27.1,19.6,27.3z"}
  %rect{:height => "1.5", :width => "23.6", :x => "3", :y => "6.1"}
