!!! XML
%svg.radiobutton-icon#Layer_1{:space => "preserve", :style => "enable-background:new 0 0 21.3 21.4;", :version => "1.1", :viewbox => "0 0 21.3 21.4", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g
    %path{:d => "M10.6,21.3C4.8,21.3,0,16.5,0,10.7S4.7,0,10.6,0s10.6,4.8,10.6,10.6S16.4,21.3,10.6,21.3z M10.6,3C6.4,3,3,6.4,3,10.6\r\n\t\ts3.4,7.6,7.6,7.6s7.6-3.4,7.6-7.6S14.8,3,10.6,3z"}
    %circle{:cx => "10.6", :cy => "10.6", :r => "2.8"}
