// TODO: Sort Out Animation Pacing

.project-display-container{
  &.active{
    &.showcase{
      height: auto !important;

      .project-display{
        top: 0;
        transform: translateY(0);
        transition: all 0.6s $easeOutQuart 0.3s;

        .project-display-info{
          .project-display-headings{
            .project-display-title{
              padding-top: 60px;
              transition: padding 0.6s $easeOutQuart 0.3s;
            }
          }
        }

        .project-display-hero{
          img.project-display-hero-image,
          &::before{
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s $easeOutQuart, height 0.3s $easeOutQuart;
          }
        }

        .project-display-view{
          a.project-display-view-link{
            height: 0;
            opacity: 0;
            transition: opacity 0.3s $easeOutQuart, height 0.3s $easeOutQuart 0.6s;
          }
        }
      }

      .project-showcase{
        height: auto;
        opacity: 1;
        display: block;
        transition: opacity 0.3s $easeOutQuart 1s, height 0.3s $easeOutQuart;
      }
    }
  }

  .project-showcase{
    position: relative;
    width: 80%;
    max-width: 1200px;
    opacity: 0;
    display: none;
    height: 0;
    z-index: 1;

    // TEMPORARY TO ADD CONTENT
    padding-bottom: 200px;

    .project-showcase-description{
      position: relative;
      font-size: 22px;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .project-showcase-resources{
      position: relative;
      width: 100%;
      font-size: 18px;
      color: $fnf-primary-x-x-x-l;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-top: 15px;
      margin-bottom: 60px;
    }

    .project-showcase-images-container{
      position: relative;
      display: flex;
      margin: 60px 0;

      .project-showcase-image{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        img{
          position: relative;
          width: 100%;
          border-radius: 3px;
          box-shadow: 0 4px 60px -10px rgba(50, 50, 50, 0.8);
        }
      }

      &.two-images{
        .project-showcase-image{
          img{
            width: 65%;
          }

          &:first-child{
            position: absolute;
            top: 0;
            left: 0;
          }

          &:nth-child(2){
            position: relative;
            align-items: flex-end;
            z-index: 1;
            margin-top: 25%;
          }
        }
      }

      &.three-images{
        .project-showcase-image{
          img{
            width: 47%;
          }

          &:first-child{
            position: absolute;
            top: 0;

            img{
              width: 40%;
            }
          }

          &:nth-child(2){
            position: relative;
            align-items: center;
            z-index: 1;
            left: -5%;
            margin-top: 17%;
          }

          &:last-child{
            position: absolute;
            top: 0;
            right: 0;
            align-items: flex-end;
            margin-top: 5%;
            z-index: 2;
          }
        }
      }
    }

    hr{
      margin: 0 0 60px 0;
      border-color: $gray-x-l;
      opacity: 0.1;
    }

    .project-showcase-section{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;

      .project-showcase-section-title{
        position: relative;
        width: 100%;
        color: $fnf-secondary-x-x-x-x-l;
        font-size: 22px;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-bottom: 10px;
        text-transform: capitalize;
      }

      .project-showcase-section-description{
        position: relative;
        width: 100%;
        font-size: 22px;
        font-weight: 300;
        text-align: justify;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}
